<nav class="header navbar navbar-light position-absolute fixed-top justify-content-between" style="background-color: #F8F9FA;">
    <a class="navbar-brand" style="font-weight: bold;" href="/"><img src="/images/train.png"> Ticketac</a>
    <div class="navbar-nav navbar-expand-lg ">
        <a class="nav-item nav-link p-3" style="color: #D15864; font-weight: bold;" href="/logout">Déconnexion</a>
        <a class="nav-item nav-link p-3" style="color:#8E8F8F" href="/users">My Last Trip</a>
    </div>
</nav>